{# A complex Jinja2 template #}

# Print the 'app' dictionary:
{{ app.name }} is {{ app.type }} and version is {{ app.version }}.


# Loop through the 'paths' list and print each member:
{% for path in paths %}
  - {{ path }}
{% endfor %}


# Print comma separated list
paths=
{%- for path in paths %}
{{ path }}{% if not loop.last %},{% endif %}
{% endfor %}


# Loop through the 'users' hash
Users:
{% for user in users %}
  {{ loop.index }}. {{ user.firstname }} {{ user.lastname }} has the {{ user.role }} role.
{% endfor %}


# Exercise

