{# webservers template #}

{% for host in groups['webservers'] %}
{{ loop.index }}: {{ host }}
      Distro name: {{ hostvars[host]['ansible_distribution'] }}
      Distro version: {{ hostvars[host]['ansible_distribution_version'] }}
{% for mount in hostvars[host]['ansible_mounts'] %}
      {{ mount['device'] }}  has {{ mount.size_total | human_readable }}  and is mounted in {{ mount.mount }}
{% endfor  %}
{% endfor %}

